.hidden-card {
    /* Center it horizontally with auto margins */
    margin: 0 auto;
    margin: 0.5rem;
}

.landing-card {
    /* Center it horizontally with auto margins */
    margin: 0 auto;
    margin: 0.5rem;
}