<div class="background-container"
  [ngStyle]="{'background-image': 'url(' + backgroundImage + ')'}">


  <!-- Load Message -->
  <mat-card class="landing-card my-card" *ngIf="!isValidLocation">
    <mat-card-content>
      <!-- <p> Hello, this is Shwish Wish App. </p> -->
      <div> This app is only accessible from your home. </div>
      <!-- <div> Please enable your 'Location' and refresh the page. </div> -->
      <div> Please enable your 'Location' and visit the site in new tab (Some caching behaviour yet to be resovled XD) </div>
    </mat-card-content>
  </mat-card>

  <!-- QNA Message -->
  <mat-card class="qna-card my-card" *ngIf="isValidLocation && showQna">
    <mat-card-content>
      <p>Verify your Identify</p>
      <p *ngIf="currentQna"> Q{{ currentQnaIndex + 1 }}: {{ currentQna }}</p>
      <mat-form-field>
        <input matInput #answerInput type="text" placeholder="Your Answer" />
        <button mat-button (click)="saveAnswer(answerInput)" class="next-btn">
          Next
        </button>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <!-- Content Card -->
  <mat-card class="hidden-card my-card" *ngIf="isValidLocation && contentMsgReceived">
    <mat-card-content>
      <button mat-button (click)="toggleCollapse()" class="toggle-btn">
        {{ isCollapsed ? 'Expand Card' : 'Collapse Card' }}
      </button>

      <div *ngIf="!isCollapsed">
        <!-- Hidden Div-->
        <div>
          <p style="white-space: pre-line;">
            {{msg1}}
          </p>

          <p style="white-space: pre-line;">
            {{msg2}}
          </p>

          <!-- Date Picker -->
          <div class="date-picker-container">

            <div *ngIf="selectedDate">
              <p> Selected Date: {{ selectedDate | date:'MMMM d' }}</p>
            </div>
            <mat-form-field appearance="fill">
              <mat-label>Pick your Date: </mat-label>
              <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" (dateChange)="onDateChange($event)" />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

</div>
<router-outlet />